        <button type="submit" name="save_mode" value="save_and_add"
                class="form-submit-button {{ clase }} " title="{{ etiqueta }}">
            <i class="{{ icono }}"></i>&nbsp;{{ etiqueta }}
        </button>&nbsp;&nbsp;